__pycache__
node_modules
.env
.venv
build
dist
outputs
cache
projects/ancientartifacts_test/*
projects/seti_test/*
projects/radlands_test/*
projects/dog_and_pony/*
projects/splitloot/*
temp/*

# nicegui server files
.nicegui/*